<div class="menu"> 
            <h1>Welcome to EFKA</h1>
            
            <div class="mx-auto" style="width: 410px">
                
    <button type="button" class="btn btn-primary home-btn" data-toggle="modal" data-target="#loginModal">
            Login
        </button>
        
        <button type="button" class="btn btn-primary home-btn" data-toggle="modal" data-target="#registerModal">
                Register
        </button>
            </div>
    </div>

 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group row">
                <label for="loginUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input name="loginUsername" type="text" class="form-control" id="loginUsername">
                </div>  
              </div>
              <div class="form-group row">
                <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input name="loginPassword" type="password" class="form-control" id="loginPassword">
                </div>  
              </div>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModalLabel">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                    <div class="form-group row">
                        <label for="registerAmka" class="col-sm-2 col-form-label">AMKA</label>
                        <div class="col-sm-10">
                            <input name ="registerAmka"type="text" class="form-control" id="registerAmka" ngModel>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label for="registerfname" class="col-sm-2 col-form-label">Όνομα</label>
                        <div class="col-sm-10">
                            <input name = "registerfName" type="text" class="form-control" id="registerfname" ngModel>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label for="registerlName" class="col-sm-2 col-form-label">Επίθετο</label>
                        <div class="col-sm-10">
                            <input name="registerlName" type="text" class="form-control" id="registerlName" ngModel>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label for="registerEmail" name = "registerEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input name="registerEmail" type="text" class="form-control" id="registerEmail" ngModel>
                        </div>  
                    </div>  
                    <div class="form-group row">
                        <label for="registerUsername" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input name="registerUsername" type="text" class="form-control" id="registerUsername" ngModel>
                        </div>  
                  </div>
                  <div class="form-group row">
                        <label for="registerPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input name="registerPassword" type="password" class="form-control" id="registerPassword" ngModel>
                        </div>  
                  </div>
                  <div class="form-group row">
                        <label for="registerPhone" class="col-sm-2 col-form-label">Κινητό τηλέφωνο</label>
                        <div class="col-sm-10">
                            <input name="registerPhone" type="text" class="form-control" id="registerPhone" ngModel>
                        </div>  
                      </div>
                  <button id="submit" type="submit" class="btn btn-primary" >Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submitBtn" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      